
@import './variables';
@import './media-queries';

* {
	font-family: $primary-font;
}

main {

	section {

		article {

			.search-form {
				width: 100%;
				overflow: auto;
				background: $light-color;

				form {
					width: 90%;
					margin: 16px auto;

					@include mq ($medium) {
						width: 411px;
					}

					.form-title {
						width: 100%;
						margin-bottom: 32px;

						h1 {
							font-weight: normal;
							font-size: 2rem;
							font-family: $primary-font;

							span {
								font-weight: bold;
								font-size: 2.2rem;
							}
						}
					}

					.form-group {
						width: 100%;
						height: 40px;
						margin-bottom: 16px;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: space-between;

						button {
							width: 20%;
							border: 1px solid $dark-color;
							padding: 8px;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
							border: none;
							background-color: $primary-color;
							color: $light-color;
							font-size: 1.2rem;
						}

						input {
							padding: 8px;
							border: none;
							border: 1px solid $dark-color;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
							width: 80%;

							&:focus {
								border: 1px solid $primary-color;
							}
						}
					}
				}
			}

			.search-data {
				width: 100%;
				overflow: auto;
				background-color: $light-color;

				#results {
					width: 90%;
					margin: 16px auto;

					.table_content {
						overflow-x: auto;

						table {
							border-collapse: collapse;
							border-spacing: 0;
							width: 100vh;

							@include mq ($medium) {
								width: 100%;
							}

							tr th {
								background-color: $primary-color;
								color: $light-color;
							}

							th, td {
								text-align: left;
								padding: 8px;
							}

							tr:nth-child(even){background-color: #bdd6fc;}
						}
					}
				}
			}
		}
	}
}
